.mainSlidersDiv {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardDiv {
    padding: 20px;
}

.cardsGid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95vw;
    justify-content: center;
    align-content: center;
}

/*for SM*/
@media screen and (max-width: 959px) {
    .small {
        display: block;
        padding-top: 0px;
    }
}

