.mainProfileProgressBars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 0 1vw;
    width: 30vw;
}

.progressBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: .5vh 0;
}

.levelVal {
    opacity: .8;
    font-size: 1.8em;
    text-align: left!important;
    width: 3vw;
    padding: 0 0 0 1vw;
}

.levelRate {
    opacity: .5;
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-direction: row;
}

._ {
    opacity: .3!important;
}

.bar_progressBars {
    width: 80%;
    background-color: rgba(4, 15, 15, 0.20);
    height: 10px;
    border-radius: 1vh;
    margin: 0 0 0 1vw;
}

.progress_progressBars {
    width: 1%;
    background-color: gold;
    height: 10px;
    border-radius: 1vh;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .progressBar {
        padding: .2vh 0;
    }

    .levelVal {
        font-size: 1.4em;
    }

    .mainProfileProgressBars {
        width: 40vw;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .progressBar {
        padding: .2vh 0;
    }

    .levelVal {
        font-size: 1.4em;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
