.profileHeaderNavMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 90vh;*/
}

.vertSpacing {
    height: 2.2vh;
}

.sideNavName {
    font-family: MullerLight, sans-serif;
    font-size: large;
    font-weight: bold;
    opacity: .8;
}

.loc {
    font-size: medium;
    font-weight: normal;
}

.manuItemsStyle {
    max-height: 20vh!important;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

