.workingHoursMainComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    /*padding: 1vw;*/
    /*width: 50%;*/
}

.workingHoursMainComponent div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vw;
}

.workingHoursCounter {
    font-family: MullerLight, sans-serif;
    font-size: 20px;
    opacity: .7;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .workingHoursCounter {
        font-size: 15px;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .workingHoursCounter {
        font-size: 15px;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
