img.logoButton {
    object-fit: cover;
   width: 10vw;
    height: auto;
}

.avatarHeaderPicture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerAvBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    background-color: white;
}

.menu {
    display: none;
}

.alignCenterHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.headerViewContainer {
    /*background-color: white;*/
    width: 100vw;
    justify-content: space-between;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .menu {
        display: block;
    }

    .showOnDashboard {
        display: block!important;
    }

    .hideLogo {
        display: none;
    }

    .logoButton {
        width: 20vw;
        height: 8vw;
        /*height: 6vh;*/
    }
    .headerViewContainer {
        width: 98%;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .menu {
        display: block;
    }

    .hideLogo {
        display: none;
    }

    .showOnDashboard {
        display: block!important;
    }

    .logoButton {
        height: 6vh;
    }

    .headerViewContainer {
        width: 90%;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .headerViewContainer {
        width: 80%;
    }

    .borderBottomHeader {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .headerViewContainer {
        width: 70%;
    }

    .borderBottomHeader {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .logoButton {
        width: 10vw;
        height: 3vw;
    }

    .headerViewContainer {
        width: 70%;
    }

    .borderBottomHeader {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}

