.proGategory {
    color: #2ba84a;
}

.proDataProfileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 2vw;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 95%;
    }
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 90%;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 90%;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

