.mainHeadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 40vh;*/
    flex-direction: column;
}

.root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 40vw;
}


.iconButton {
    padding: 10px;
}

.divider {
    width: 1px;
    height: 28px;
    margin: 4px;
}

.input {
    margin-left: 8px;
    flex: 1;
}

.spacing {
    height: 8vh;
    width: 100vw;
}


.buttonContent {
    display: flex;
    flex-direction: column;
}

/*for SM*/
@media screen and (max-width: 959px) {
    .container {
        max-width: 760px;
    }
    .root {
        width: 60vw;
    }
    .logoHead {
        display: inline;
    }
    .maiHeadCategory {
        font-size: xx-large!important;
    }
}

/*for XS*/
@media screen and (max-width: 599px) {
    .serviceIcon img {
        height: 25px;
    }
    .serviceIcon {
        padding: 0 .1vw;
    }
    .root {
        width: 90vw;
    }
    .actionIconsWrapper {
        /*padding: 10vh 20px 0 20px;*/
    }

    .maiHeadCategory {
        font-size: xx-large!important;
    }
}
