.detailsCardMainComponent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-evenly;
    padding: 1vw;
    width: 50%;
}

._title {
    font-weight: bold;
}

.daysDetailsCard {
    font-family: MullerLight, sans-serif;
    font-size: 1.3em;
    text-align: left;
}

.timeDetailsCard span {
    font-family: MullerLight, sans-serif;
    font-size: 1em!important;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-evenly;
    /*width: 25%;*/
}

.verticalSeparator {
    border-left: whitesmoke solid 1.6px;
    height: 10vh;
    width: 2vw;
}

/*for XS*/
@media screen and (max-width: 599px) {
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
