.mainProfileHeaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-evenly;
    /*width: 80%;*/
}

.profileAvatar {
    object-fit: cover;
    object-position: center;
    width: 13vw;
    height: 13vw;
    left: 60px;
}

.dataDivFiller {
    height: 5vh;
}

.profileDataDiv {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.profileName {
    font-family: MullerMedium, sans-serif;
    /*font-size: 1.2em;*/
    text-align: left;
}

.profileSubName {
    font-family: MullerMedium, sans-serif;
    /*font-size: 1.2em;*/
    text-align: left;
    color: #2BA84A;
    /*padding: 0 0 1vh 0;*/
}

.profileHeaderButtons {
    display: none;
}

.profileHeaderButtonDiv {
    padding: 0 1vw 0 0 ;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .profileAvatar {
        width: 40vw;
        height: 40vw;
    }

    .profileName {
        font-size: 1.5em;
    }

    .profileSubName {
        font-size: 1em;
    }

    .profileHeaderButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .profileAvatar {
        width: 17vw;
        height: 17vw;
    }

    .profileName {
        font-size: 1.5em;
    }

    .profileSubName {
        font-size: 1.2em;
    }

    .profileHeaderButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .profileAvatar {
        width: 15vw;
        height: 15vw;
    }

    .profileName {
        font-size: 1.8em;
    }

    .profileSubName {
        font-size: 1.3em;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .profileAvatar {
        width: 13vw;
        height: 13vw;
    }

    .profileName {
        font-size: 2em;
    }

    .profileSubName {
        font-size: 1.5em;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .profileAvatar {
        width: 13vw;
        height: 13vw;
    }
    .profileName {
        font-size: 2.5em;
    }

    .profileSubName {
        font-size: 2em;
    }
}

