.mainDialogDiv div div{
    max-width: unset!important;
}

.fullImageDialogWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dialogFullImageContent {
    padding: 0 0 0 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
}

.imageDescripTitle {
    font-weight: bold;
}

img.imageGalleryFull {
    width: auto;
    height: 60vh;
    object-fit: cover;
}

.contentHeaderFullImage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1vh 0 0;
    width: 100%;
}

.fullImageDescription {
    font-size: large;
    font-family: MullerLight, sans-serif;
    text-align: left;
    max-width: 30vw;
    padding: 0 1vh 0 0;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

/*for XS*/
@media screen and (max-width: 599px) {
    .fullImageDialogWrapper {
        flex-direction: column-reverse;
    }
    .fullImageDescription {
        max-width: 100vw;
    }
    .dialogFullImageContent {
        height: 30vh;
    }
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .fullImageDialogWrapper {
        flex-direction: column-reverse;
    }
    .fullImageDescription {
        max-width: 100vw;
    }
    .dialogFullImageContent {
        height: 30vh;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

