.categoryImageUpload {
    width: 15vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-image: url("../../../../../");*/
}

.confirmation span{
    font-size: large;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

