.messagesMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.inputDivMessageMain {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 1vh;
}

.messagesListContainer {
    height: 70vh;
    width: 100%;
    overflow: auto;
}

.singleMessageContainer {
    padding: 1vh 0 1vh 0;
}

.sendButtonMain {
    color: #2ba84a;

}

.CTANoMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/*for XS*/
@media screen and (max-width: 599px) {

}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
