.mainFooterDiv {
    background-color: #040F0F;
    width: 100vw;
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FCFFFC;
    /*padding: 4vw;*/
}

.lineDevider {
    border-bottom: 1px #FCFFFC solid;
    width: 80%;
    margin: 2vh 0;
}

.blog {
    max-width: 20vw;
}

.blog ul li {
    padding: 1vh 0!important;
}

.copyRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center;
    width: 90%;
    padding: 0 0 3vh 0;
}

.copyRight p {
    font-family: MullerLight, sans-serif;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    padding: 3vh 0 0 0;
}

.footerContent section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start!important;
    align-items: center;
}

.sectionHeader {
    font-family: MullerRegular, sans-serif;
    padding: 0 0 1.4vh 0;
}


.contentSectionCat {
    font-family: MullerLight, sans-serif;
    font-size: .8em;
    padding: 0 0 .8vh 0;
}

.contentSectionCat:hover {
    cursor: pointer;
}

.socialContainer {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.socialIcons {
    justify-content: center;
    width: 20%;
}

.iconSocial {
    font-size: 1.5em;
    padding: 0 10px;
}

.iconSocial:hover {
    cursor: pointer;
}

.slogan {
    font-family: MullerLight, sans-serif;
    text-wrap: normal;
}

.columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.playstoreBtn {
    background-image: url('../../../assets/images/play.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 12vw;
    height: 4vw;
    padding: 2vh 0;
}

.applestoreBtn {
    background-image: url('../../../assets/images/apple.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 9vw;
    height: 2vw;
    padding: 2vh 0;
}

@media screen and (max-width: 959px) {
    .playstoreBtn {
        width: 80vw;
        height: 20vh;
    }

    .blog {
        max-width: 90vw;
    }
}
