.proConversationsHeader {
    padding: 2vh;
    background-color: white;
}

.convProHeaderTitle {
    font-size: large;
    color: #2ba84a;
    font-weight: bold;
    font-family: MullerLight, sans-serif;
}

.convProDivider {
    height: 2vh;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

