.mainReviewsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-evenly;
    padding: 0 3vw;
    width: 100%;
}

.userNameReview {
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    padding: 0 0 0 1vh;
}

.contentReview {
    font-family: MullerLight, sans-serif;
    padding: 0 0 0 2vw;
}

.dateReview {
    opacity: .6;
    padding: 2vh 0 0 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.rowAlignNameRate {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

/*for XS*/
@media screen and (max-width: 599px) {
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
