.loadingMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(166, 155, 166, 0.7);
}

.progress {
    /*font-size: 5em;*/
}

.allOfloadingScreen {
    opacity: .7;
}
