.categoryImageUpload {
    width: 15vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressCircleLayer {
    width: 100%;
    height: 100%;
    background-color: #040f0f;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation span{
    font-size: large;
}

.addcategoryform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
}

#select-parentId {
    width: 20vw;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

