.bannerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;
    width: 100vw;
    /*background-color: whitesmoke;*/
}

.bannerColumnFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerImage {
    background-image: url('../../../../../assets/images/phone.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    height: 35vh;
    /*padding: 2vh 0;*/
}


/*for XS*/
@media screen and (max-width: 599px) {
    .bannerImage {
        display: none;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .bannerImage {
        display: none;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .rowAlign {
        justify-content: space-evenly!important;
    }
    .banner {
        font-size: 2em!important;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
