.card {
    max-width: 28vw;
    margin-bottom: 2vh;
}

.media {
    height: 18vw;
    width: 28vw;
    /*padding-top: 56.25%;*/
}

.cardTitle {
    font-family: MullerBold, sans-serif;
    font-size: 2.2em;
}

.grow {
    flex-grow: 1;
}

.contentStyle {
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    flex-direction: column;
}

.activeMembers {
    padding-top: 1.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.avatars {
    display: flex;
    /*justify-self: flex-end;*/
    align-self: center;
}

.counter {
    font-size: 1.3em;
    opacity: .7;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .card {
        max-width: 80vw!important;
    }
    .media {
        height: 65vw!important;
        width: 80vw!important;
        /*padding-top: 56.25%;*/
    }
    .cardTitle {
        font-size: 1.3em;
    }
    .activeMembers {
        padding-top: 1vh;
    }
    .counter {
        font-size: .8em;
        opacity: .7;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .card {
        max-width: 80vw!important;
    }
    .media {
        height: 65vw!important;
        width: 80vw!important;
        /*padding-top: 56.25%;*/
    }
    .cardTitle {
        font-size: 1.4em;
    }
    .counter {
        font-size: 1em;
        opacity: .7;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .cardTitle {
        font-size: 1.4em!important;
    }

    .counter {
        font-size: .7em!important;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .cardTitle {
        font-size: 1.4em!important;
    }

    .counter {
        font-size: .8em!important;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
