.gallerElementMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
}

.galleryImageDash {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.galleryElementSpacer {
    height: 2vh;
}

.galleryElementDescription {
    width: 90%;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionGalleryElementPro {
    font-family: MullerLight, sans-serif!important;
    font-size: medium!important;
    max-width: 100%;
    line-break: auto;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.galleryProElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.elementWrapperLoop {
    padding: 1vh;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .gallerElementMainDiv {
        width: 90vw;
    }

    .galleryImageDash {
        height: 30vh;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .gallerElementMainDiv {
        width: 90vw;
    }

    .galleryImageDash {
        height: 30vh;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
