.loginComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: whitesmoke;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

.switchSign {
    padding: 4vh 0 0 0;
}

.signBtn {
    margin-top: 8vh;
}

.headingTitle span {
    padding-top: 8vh;
    padding-left: 18vh;
    font-family: MullerBold, sans-serif;
    font-size: 5em;
}

/*for SM*/
@media screen and (max-width: 959px) {
    .lg {
        display: none;
    }

    .sm {
        display: inline;
    }

    .headingTitle span {
        padding-left: 4vh;
        font-size: 3em;
    }
}

