.mainProfileReviewsCounter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    padding: 0 4vw;
    /*width: 80%;*/
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2vw 0 0;
    /*align-content: space-around;*/
}

.star_size_counter {
    font-size: 2.7em !important;
    padding: 0 1vh 0 0;
}

.total_avg_text {
    font-size: 2em;
    opacity: .6;
    padding: 1vh 0;
}

.biggerTextRevs {
    font-size: 2.5em;
}

.total span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.label {
    font-size: 1.5em;
}

.counter div, .socialIconsMetrics div {
    font-size: 20px;
}

.socialIconsMetrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .star_size_counter {
        font-size: 2em!important;
    }

    .total_avg_text {
        font-size: 1.3em;
    }

    .biggerTextRevs {
        font-size: 1.5em;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .total {

    }

    .total_avg_text {
        font-size: 1.5em;
    }

    .biggerTextRevs {
        font-size: 2em;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
