.searchResultMainDiv {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        width: 100vw;
        background-color: whitesmoke;
}

.noRes {
    font-size: 3vw;
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    color: #2ba84a;
    opacity: .8;
}

.searchFilterSide {
    /*width: 25vw;*/
    /*height: 100%;*/
    background-color: #fff;
}

.flexStartAlign {
    padding: 0 3vw 0 3vw;
    align-items: flex-start;
}

.hidden {
    display: none;
}

.fillerShown {
    width: 25vw;
}

.fixedSearchFilter {
    /*top: 8vh;
    left: 0px;*/
    position: fixed;
    /*float: left;*/
    /*z-index: 999;*/
}

.fixedKeywordFilter {
    top: 0px;
    right: 0px;
    position: fixed;
    float: right;
    z-index: 999;
}

.res {
    /*width: 75vw;*/
    /*padding-right: 4vw;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.resultKeyword {
    text-align: left;
    width: 75vw;
    background-color: #ffffff;
}

.resultKeyword p{
    font-family: MullerBold, sans-serif;
    font-size: 3em;
    /*padding-bottom: 4vh;*/
    /*width: 60vw;*/
    text-align: left;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .searchFilterSide {
        display: none;
    }

    .resultKeyword {
        width: 100vw;
    }

    .res {
        width: 100vw;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .resultKeyword p {
        font-size: 1em;
        text-align: center;

    }

    .noRes {
        font-size: 6vw;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .searchFilterSide {
        display: none;
    }
    .res {
        width: 100vw;
    }
    .resultKeyword {
        width: 100vw;
    }
    .resultKeyword p {
        font-size: 1.2em;
        text-align: center;
    }

    .noRes {
        font-size: 5vw;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

