.conversationComponentMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 90vh;*/
    width: 100%;
    height: 100%;
}

.fullScreenConvoPage {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.conversationsPart {
    width: 30%;
    height: 80vh;
    padding-right: 1vw;
    background-color: white;
}

.messagesList {
    width: 70%;
    height: 80vh;
    background-color: white;
}

.mainConvSpacer {
    height: 4vh;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .fullScreenConvoPage {
        justify-content: center;
    }
    .conversationsPart {
        width: 100vw;
    }
    .messagesList {
        width: 100%;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .fullScreenConvoPage {
        justify-content: center;
    }
    .conversationsPart {
        width: 100vw;
    }
    .messagesList {
        width: 100%;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .conversationsPart {
        width: 40%;
    }

    .messagesList {
        width: 60%;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

