.adsMainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vh;
    width: 100vw;
}


@media screen and (max-width: 959px){
    .bannerImage {
        display: none;
    }
}
