.conversationsListMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.cnvElementHolder {
    padding: 1vh 0 1vh 0;
    border-bottom: rgba(40, 44, 52, 0.48) solid .5px;
}

.sectionTitle {
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #2ba84a;
}

.sectionTitleSeparator {
    height: 1.5vh;
}

.conversationsContainer {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.noConvos {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.noConvosText {
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #2ba84a;
    text-align: center;
    opacity: .6;
    padding: 0 0 2vh 0;
}

/*for XS*/
@media screen and (max-width: 599px) {

}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
