.profileCard {
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: row;
    padding: 2vh 0;
    width: 600px;
    height: 250px;
    /*background-color: white;*/
}
.spacingCard {
    height: 60px;
}
.star {
    color: gold;
}
.photoDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    width: 150px;
}

.dataDiv {
    width: 420px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.cardFiller {
    width: 150px;
    height: 250px;
}

.dataDiv section {
    width: 350px;
}

.shadow {
    box-shadow: 2px 2px 7px rgba(112, 112, 112, 0.6);
    border-radius: 5px;
}

.avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    left: 60px;
    z-index: 99;
    position: relative;
}

.float {
    /*top: 4vw;*/
    left: 5vw;
    z-index: 99;
    /*position: relative;*/
    /*height: 12vw;*/
}

.cardName {
    font-family: MullerBold, sans-serif;
    font-size: 2em;
    text-align: left;
    /*padding-right: 5vw;*/
}
.subTitleCard {
    font-family: MullerBold, sans-serif;
    font-size: 1.6em;
    text-align: left;
    color: #2BA84A;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.meter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.meter span {
    font-family: MullerBold, sans-serif;
    font-size: 1.3em;
    opacity: .7;
}

.counter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


@media only screen and (min-width: 600px) and (max-width: 959px) {

}

@media only screen and (max-width: 599px) {
    .profileCard {
        width: 400px;
        height: 150px;
    }

    .spacingCard {

    }

    .photoDiv {
        width: 100px;
        height: 170px;
    }

    .dataDiv {
        width: 300px;
        height: 170px;
    }

    .cardFiller {
        width: 40px;
        height: 150px;
    }

    .dataDiv section {
        width: 240px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        left: 40px;
    }

    .cardName {
        font-size: 1.3em;
    }

    .subTitleCard {
        font-size: 1em;
    }

    .metrics {

    }

    .meter span {
        font-size: 1em;
    }

    .spacingCard {
        height: 40px;
    }

    .counter {

    }
}
