.mainProfileReview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-evenly;
    padding: 0 1vw;
    /*width: 80%;*/
}

.reviewsCounter_callside {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    align-content: space-evenly;
    padding: 0 1vw;
    width: 100%!important;
}

.label {
    font-size: 1.5em;
}

.counter div, .socialIconsMetrics div {
    font-size: 20px;
}

.socialIconsMetrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.noRevsText {
    font-size: xx-large;
    opacity: .7;
    color: #2ba84a;
    font-family: MullerLight, sans-serif;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .label {
        font-size: 1.1em!important;
    }

    .counter div, .socialIconsMetrics div {
        font-size: 15px!important;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .label {
        font-size: 1.1em!important;
    }

    .counter div, .socialIconsMetrics div {
        font-size: 15px!important;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
