.profileComponent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    background-color: whitesmoke;
}

.profileComponentSpacerVertical {
    height: 4vh;
}

.profileContainer {
    width: 60vw;
    padding: 4vh 0;
}

.profileButtons {
    /*padding-top: 4vh;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*width: 90%;*/
}

.profileActionButtonsIcon {
    width: 1.5em!important;
    /*font-size: 1.2em!important;*/
    /*height: 2em;*/
}

.profileButtonDiv {
    padding: 0 2em 0 0;
}

.profileActionButtons span {
    /*font-size: 2em;*/
}

.profileGrow {
    flex-grow: 1;
}

.sm {
    display: none;
}

.metricsProfile {
    padding: 2.5vh 0 0 0;
    /*width: 60vw;*/
    justify-content: flex-start;
}

._metrics {
    width: 60vw;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .profileButtons {
        display: none;
    }
    .profileContainer {
        width: 90%;
        padding: 2vh 0;
    }
    .metricsProfile {
        width: 90vw;
    }
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .profileButtons {
        display: none;
    }
    .metricsProfile {
        width: 60vw;
    }
    .profileContainer {
        padding: 2vh 0;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .metricsProfile {
        width: 60vw;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .metricsProfile {
        width: 60vw;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .metricsProfile {
        width: 60vw;
    }
}
