.conversationElementComponentMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1.3vh;
}

.convoSpacer {
    width: 1vh;
}

.convoOverRide {
    padding: 0!important;
    font-size: medium!important;
    font-weight: normal!important;
    opacity: .8!important;
    font-family: MullerLight, sans-serif;
}

.convoAvatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
    padding: 0 0 0 1vh;
}

.convoData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 16vw;
    padding: 0 0 0 1vh;
}

.convoSender {
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.convoLastMessage {
    font-family: MullerLight, sans-serif;
    font-size: medium;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .convoAvatar {
        width: 6vh;
        height: 6vh;
        border-radius: 3vh;
    }
    .convoData {
        width: 75vw;
    }

    .convoSpacer {
        width: 2vw;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .convoAvatar {
        width: 6vh;
        height: 6vh;
        border-radius: 3vh;
    }
    .convoData {
        width: 75vw;
    }
    .convoSpacer {
        width: 2vw;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .convoData {
        width: 13vw;
    }

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .convoData {
        width: 13vw;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .convoData {
        width: 16vw;
    }
}
