.smallAvatarsMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.smallAvatar {
    height: 40px;
    width: 40px;
    margin: 0 3px 0 0;
}

.fillerSpan {
    height: 30px!important;
    width: 30px!important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
    opacity: .6;
    font-weight: bold;
    background-color: #282c34;
    color: #FCFFFC;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .smallAvatar {
        width: 18px;
        height: 18px;
    }

    .fillerSpan {
        width: 8px!important;
        height: 8px!important;
        font-size: .5em;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .smallAvatar {
        width: 28px;
        height: 28px;
    }

    .fillerSpan {
        width: 18px!important;
        height: 18px!important;
        font-size: .8em;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .smallAvatar {
        width: 25px;
        height: 25px;
    }

    .fillerSpan {
        width: 15px!important;
        height: 15px!important;
        font-size: .8em;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .smallAvatar {
        width: 40px;
        height: 40px;
    }

    .fillerSpan {
        width: 30px;
        height: 30px;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
