.adminDashboardMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 90vh;*/
    width: 100vw;
    background-color: whitesmoke;
}

.headerAdminDash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerTitleAdmin {
    font-size: 1.4em;
    font-family: MullerLight, sans-serif;
    font-weight: bold;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

