.mainSlidersDiv {
    padding: 2vh 0;
}

.popTitle {
    padding-top: 50px;
    /*font-family: MullerRegular, sans-serif;*/
    font-size: 2em;
}

.owl-theme {
    max-width: 95vw;
}

/*Carousel home page*/
#recommended {
    margin-top: 40px;
}
@media (max-width: 767px) {
    #recommended {
        margin-top: 0;
    }
}
#recommended .item {
    margin: 0 15px;
}

#recommended .owl-item {
    opacity: 0.5;
    transform: scale(0.85);
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-transform: translateZ(0) scale(0.85, 0.85);
    transition: all 0.3s ease-in-out 0s;
    /*overflow: hidden;*/
}

#recommended .owl-item.active.center {
    opacity: 1;
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: scale(1);
}

#recommended .owl-item.active.center .item .title h4,
#recommended .owl-item.active.center .item .views {
    opacity: 1;
}

.owl-theme .owl-dots {
    margin-top: 25px !important;
}
@media (max-width: 767px) {
    .owl-theme .owl-dots {
        margin-top: 0 !important;
        margin-bottom: 20px;
    }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #3f9fff !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 13px !important;
    height: 13px !important;
}
