@import "https://cdn.klokantech.com/osmnames/v1/autocomplete.css";

@font-face {
    font-family: MullerMedium;
    src: url("assets/fonts/Muller Medium.otf");
    src: url("assets/fonts/Muller Medium.woff");
}

@font-face {
    font-family: MullerBold;
    src: url("assets/fonts/Muller Bold.otf");
    src: url("assets/fonts/Muller Bold.woff");
}

@font-face {
    font-family: MullerLight;
    src: url("assets/fonts/Muller Light.otf");
    src: url("assets/fonts/Muller Light.woff");
}

body {
    margin: 0;
    padding: 0;
    font-family: MullerBold, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button span {
    /*font-family: MullerBold, sans-serif;*/
    text-transform: none;
    /*font-size: 1.2em;*/
}

img {
    max-width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rowAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

#root {
    overflow-x: hidden !important;
}

.danger {
    color: orangered;
}

.dangerButton {
    background-color: orangered !important;
    color: #fff !important;
}

.goldButton {
    background-color: gold !important;
    color: #fff !important;
}

.insightTitle {
    font-family: MullerLight, sans-serif;
    font-size: large;
    color: #2ba84a;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.metricsElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 40%;*/
    margin: 1.3vh;
    background-color: white;
}

.columnAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.text p {
    color: darkred;
}

.formStyle {
    width: 100%;
}

/*//////////NOT FOUND PAGE STARTS/////////////////*/

.mainNotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

img.mainNotFoundLogo {
    width: 30vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding-bottom: 4vh;
}

.mainNotFoundPhrase {
    font-family: MullerLight, sans-serif;
    text-align: center;
}

/*//////////NOT FOUND PAGE ENDS/////////////////*/

/*for XS*/
@media screen and (max-width: 599px) {
    .mainViewContainer {
        width: 98%;
    }

    .metricsElement {
        width: 90%;
    }

    img.mainNotFoundLogo {
        width: 50vw;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .mainViewContainer {
        width: 90%;
    }

    .metricsElement {
        width: 90%;
    }

    img.mainNotFoundLogo {
        width: 50vw;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .mainViewContainer {
        width: 80%;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .mainViewContainer {
        width: 70%;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .mainViewContainer {
        width: 70%;
    }
}
