.loginComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: whitesmoke;
}

.restOfFormTwo {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 6;
}

.introField {
    max-height: 15vh;
}

.restOfForm {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 5;
}

.dateTime {
    padding: 1.4vh 0 1.4vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25vw;
}

.avatarForm {
    height: 20vh;
    width: 20vh;
    border-radius: 10vh;
    border: #282c34 solid 2px;
}


.time {
    width: 50%;
}

.hide {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -5;
}

.restOfForm.show, .restOfFormTwo.show {
    opacity: 1;
    visibility: visible;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

.switchSign {
    padding: 4vh 0 0 0;
}

.signBtn {
    margin-top: 8vh;
}

.signBtn span {
    /*font-size: 2em;*/
}

.parentCatDisabled {
    color: #2ba84a!important;
    opacity: 1!important;
}

.headingTitle span {
    padding-top: 8vh;
    padding-left: 18vh;
    font-family: MullerBold, sans-serif;
    font-size: 5em;
}

/*for SM*/
@media screen and (max-width: 959px) {
    .lg {
        display: none;
    }

    .sm {
        display: inline;
    }

    .headingTitle span {
        padding-left: 4vh;
        font-size: 3em;
    }
}

