.homeComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sm {
    display: none;
}

.banner {
    /*padding-top: 6vh;*/

}

/*for SM*/
@media screen and (max-width: 959px) {
    .lg {
        display: none;
    }

    .sm {
        display: flex;
    }
}

