.sideList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.listBtn div span{
    font-family: MullerMedium, sans-serif;
    font-size: 1.3em;
    color: #2BA84A;
}

.listBtn img{
    height: 20px;
    opacity: .6;
}

.subTitle {
    font-size: 1.6em;
    font-family: MullerBold, sans-serif;
    color: #2BA84A;
}

.logoHeadSideNav {
    width: 30vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding-bottom: 2.5vh;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .logoHeadSideNav {
        width: 50vw;
    }

    .menu {
        display: block;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .menu {
        display: block;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .logoHeadSideNav {
        width: 12vw;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .logoHeadSideNav {
        width: 12vw;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .logoHeadSideNav {
        width: 12vw;
    }
}

