.headingTitle {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100vw;
}

.fields {
    /*padding-top: 5vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 5vh;
    padding: 4vw;
    border: rgba(40, 44, 52, 0.4) solid 2px;
    background-color: #fff;
}
.noBorder {
    border: 0;
    padding: 0!important;
}

.signingTitle {
    font-size: 2em;
    padding: 0 0 2vh 0;
}

.text {
    width: 25vw;
    /*padding-top: 4vh;*/
}
.text fieldset {
    /*height: 6vh;*/
}
.text div input {
    /*font-size: 2em;*/
}
.text label {
    /*font-size: 1.2em;*/
    /*color: #2BA84A;*/
    /*opacity: .6;*/
}

.loginSocialChoice {
    font-family: MullerLight, sans-serif;
    width: 100%;
    margin: 0;
    padding: 4vh 0;
    text-align: center;
}

.loginSocialChoice::after {
    display: inline-block;
    margin: 0 0 0 20px;
    height: 1.5px;
    content: " ";
    /*text-shadow: none;*/
    background-color: #000;
    width: 15%;
}

.loginSocialChoice::before {
    display: inline-block;
    margin: 0 20px 0 0;
    height: 1.5px;
    content: " ";
    /*text-shadow: none;*/
    background-color: #000;
    width: 15%;
}

.gg {
    background-color: #FCFFFC!important;
}

.fb {
    background-color: #3b5998!important;
}

.fb span {
    color: #fff;
}

.submit {

}

.buttonContainer {
    padding: 2vh 0 0 0!important;
}

.signBtn {
    margin-top: 8vh;
    width: 25vw;
}

.signBtn span {
    /*font-size: 1em;*/
}

.headingTitle span {
    padding-top: 8vh;
    padding-left: 18vh;
    font-family: MullerBold, sans-serif;
    font-size: 5em;
}

@media screen and (max-width: 599px) {
    .text {
        width: 90vw;
    }

    .signingTitle {
        max-width: 80vw;
        text-align: center;
    }
}

/*for SM*/
@media screen and (max-width: 959px) {
    .lg {
        display: none;
    }

    .sm {
        display: inline;
    }

    .text {
        width: 70vw;
    }

    .headingTitle span {
        padding-left: 4vh;
        font-size: 3em;
    }
}

