.mainProfileMetrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    padding: 0 1vw;
    /*width: 80%;*/
}

.iconSocialMetrics {
    color: #2BA84A;
    font-family: MullerLight, sans-serif;
    font-size: .8em;
    padding: 0 .5em;
}

.label {
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.counter div, .socialIconsMetrics div {
    font-family: MullerLight, sans-serif;
    font-size: 15px;
}

.socialIconsMetrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/*for XS*/
@media screen and (max-width: 599px) {
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
