.mainProfileGallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-evenly;
    padding: 0 1vw;
    /*width: 80%;*/
}

.galleryImage {
    padding: 10px;
}

.galleryImage img{
    width: 40vw;
}

.images {
    width: 100%;
}

/*for XS*/
@media screen and (max-width: 599px) {
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
