.mainHeadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 40vh;*/
    padding: 4vh 0;
    flex-direction: column;
}

.logoSpacer {
    height: 4vh;
}

.logoHead {
    background-image: url('../../../../../assets/icons/final/full.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70vw;
    height: auto;
    display: none;
    padding-top: 8vh;
}

.root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 40vw;
}

.title {
    /*padding-top: 5vh;*/
    font-family: MullerMedium, sans-serif;
    font-size: 2.8em;
    opacity: .8;
    color: #040F0F;
    padding-bottom: 40px;
    text-align: center;
    text-wrap: normal;
    max-width: 95%;
}

.iconButton {
    padding: 10px;
}

.divider {
    width: 1px;
    height: 28px;
    margin: 4px;
}

.input {
    margin-left: 8px;
    flex: 1;
}

.spacing {
    height: 8vh;
    width: 100vw;
}

.actionIconsWrapper {
    /*padding-top: 10vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /*max-width: 100vw;*/
    /*padding: 2vh 0;*/
    overflow-x: auto;
    overflow-y: hidden;
}

.actionIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    width: 100vw;
    overflow-x: auto!important;
    padding: 1.5vw;
}

.serviceIcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 41px;
    padding: 1vh 3vw;
    opacity: .5;
}

.serviceIcon img {
    height: 41px;
    margin-bottom: .4vh;
}

.serviceIcon span {
    font-size: 1em;
}

.buttonContent {
    display: flex;
    flex-direction: column;
}


/*for XS*/
@media screen and (max-width: 599px) {
    .serviceIcon img {
        height: 20px;
        margin: 0;
    }
    .serviceIcon {
        padding: 0;
        height: 50px;
    }

    .serviceIcon span {
        font-size: x-small;
    }

    .root {
        width: 90vw;
    }
    .actionIconsWrapper {
        /*padding: 10vh 20px 0 20px;*/
    }

    .searchText {
        display: none;
    }
    .title {
        font-size: 1.8em;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .container {
        max-width: 760px;
    }
    .root {
        width: 60vw;
    }
    .title {
        font-size: 1.8em;
    }
    .logoHead {
        display: inline;
    }
    .searchText {
        display: none;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .actionIconsWrapper {
        padding: 1vh 0;
    }

    .searchIcon {
        display: none;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .searchIcon {
        display: none;
    }
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .searchIcon {
        display: none;
    }
}
