.mainFilterDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2vh 20px 0 20px;
    background-color: white;
}

.filterRoot {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-evenly;
}

.inputDiv {
    padding: 0 0 2vh 0;
}

.textFilter span {
    font-size: 1.4em;
}

.slider {
    padding: 2vh 0 0 0;
}

.searchSubTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px 20px 10px;
    width: 100%;
}

.searchSubTitle span {
    font-family: MullerBold, sans-serif;
    font-size: 1.5em;
    text-align: left;
}
.inputFilter {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sliderValDiv {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.slider {
    width: 80%;
}

.sliderValDiv span {
    font-size: 1.1em;
    opacity: .7;
    padding: 2vh 0 0 2vh;
}

.sliderField {

}

.textFilter {
    width: 20vw;
    padding: 0 0 3vh 0!important;
}
.checksFilter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.checkFilter {
    padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
    .resultKeyword {
        font-size: 2.5em;
    }
}

/*
* For tablets only
*/

@media only screen and (min-width: 768px)  and (max-width: 995px) {
    .filterRoot {
        width: 90%;
    }

    .textFilter {
        width: 100%;
    }
}
/*
* For tablets and mobile devices
*/

@media only screen and (max-width: 995px) {
    .filterRoot {
        width: 90%;
    }

    .textFilter {
        width: 100%;
    }
}
/*
* For mobile album resolution
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .filterRoot {
        width: 90%;
    }

    .textFilter {
        width: 100%;
    }
}
/*
* For mobile devices
*/

@media only screen and (max-width: 767px) {
    .filterRoot {
        width: 90%;
    }

    .textFilter {
        width: 100%;
    }
}
/*
* For mobile portrait resolution only
*/

@media only screen and (max-width: 479px) {
    .filterRoot {
        width: 90%;
    }

    .textFilter {
        width: 100%;
    }
}

