.mainProfileIntro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-evenly;
    padding: 0 1vw;
    width: 100%;
}

.labelIntro {
    font-size: 1.8em;
}

.linkProfile {
    font-family: MullerLight, sans-serif;
    font-size: large;
    padding: 0 0 1vh 1vh;
}

.introContent {
    font-family: MullerLight, sans-serif;
    font-size: 1.3em;
    padding: 0 0 0 2vw;
    width: 100%;
    line-break: auto;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    /*white-space: -pre-wrap;     !* Opera <7 *!*/
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.showMoreBtn {
    background-color: transparent;
    color: #20d562;
}

.linkAndIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .labelIntro {
        font-size: 1em;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .labelIntro {
        font-size: 1.5em;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
