.mainReviewsListProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    padding: 0 1vw;
    /*width: 80%;*/
}

.myReviewHolder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /*padding: 0 0 1vh 0;*/
}

.vertDivRev {
    height: 1vh;
}

.myrevAndOthersDev {
    width: 80%;
    border-bottom: #282c34 solid 1px;
    opacity: .6;
}


/*for XS*/
@media screen and (max-width: 599px) {
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
