.sideList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.listBtn div span{
    font-family: MullerMedium, sans-serif;
    font-size: 1.3em;
    color: #2BA84A;
}

.listBtn img{
    height: 20px;
    opacity: .6;
}

.subTitle {
    font-size: 1.6em;
    font-family: MullerBold, sans-serif;
    color: #2BA84A;
}

.rightSideNav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 959px) {
    .menu {
        display: block;
    }
}

/*for XS*/
@media screen and (max-width: 599px) {
}

