.galleryMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 90vh;*/
    width: 100%;
}

.galleryTitlePro {
    background-color: white;
    padding: 2vh;
}

.galleryTitlePro span{
    font-family: MullerLight, sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ba84a;
    text-align: center;
}

.buttonContainerGalleryPro {
    padding: 2vh;
}

.buttonsAlignFullImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*for XS*/
@media screen and (max-width: 599px) {
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

