.profileHeaderDashboardMainDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /*min-height: 90vh;*/
    flex-wrap: wrap;
    width: 60%;
    background-color: #fff;
    padding: 2vw;
}

.userDataProfileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 2vw;
}

.profileHeaderName {
    font-family: MullerLight, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    opacity: .8;
}

.profileHeaderLoc {
    padding-top: 1.2vh;
    font-size: x-large;
}

.editPictureButton span, .iconEditPhoto {
    font-size: large;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 95%;
    }
}
/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 90%;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .profileHeaderDashboardMainDiv {
        justify-content: center;
        width: 90%;
    }
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

